<div class="zone photo_cadre {{ zone.subType }}">
    <div class="content_diapo swiper-container">
        <div class="swiper-wrapper">
            {% for photo in zone.photos %}
                <div class="slide swiper-slide">
                    <div class="photo" data-id="{{ photo.id }}" data-name="{{ fileName(photo,locale) }}">
                        <a href="{{ asset('uploads/'~ photo.path) | thumbnail(1500) }}" data-fancybox="gallery{{ zone.id }}" class="fancy">
                            <img alt="{{ photo.detail(locale).title }}"/>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>