{% extends 'layout.html.twig' %}
{% block css %}
    <style>
        .legal-notice{
            max-width: 100rem;
            margin:0 auto;
            padding:2rem;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="legal-notice">
        <h3>&Eacute;DITEUR DU SITE WEB</h3>
        <br/>
        <table>
            <tbody>
            <tr>
                <td>Nom / Organisation :</td>
                <td ><strong>{{ infos.name }}</strong></td>
            </tr>
            <tr>
                <td>Adresse postale :</td>
                <td>
                    <p class="adressText">{{ infos.adress }} , {{ infos.cp }} {{ infos.city }}</p>
                </td>
            </tr>
            <tr>
                <td >T&eacute;l&eacute;phone :</td>
                <td ><strong>{{ infos.tel }}</strong></td>
            </tr>
            <tr>
                <td>Fax :</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Adresse e-mail :</td>
                <td><a href="mailto:{{infos.mail}}">{{ infos.mail }}</a></td>
            </tr>
            <tr>
                <td>SIRET :</td>
                <td>{{ infos.siret }}</td>
            </tr>
            <tr>
                <td>Code APE :</td>
                <td>{{ infos.codeApe }}</td>
            </tr>
            </tbody>
        </table>
        <hr />
        <h3>R&Eacute;ALISATION DU SITE WEB</h3>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td width="186">Nom / Organisation :</td>
                <td width="314"></td>
            </tr>
            <tr>
                <td>Adresse postale :</td>
                <td>
                    <p></p>
                </td>
            </tr>
            <tr>
                <td>T&eacute;l&eacute;phone :</td>
                <td></td>
            </tr>
            <tr>
                <td>Fax :</td>
                <td></td>
            </tr>
            <tr>
                <td>Adresse e-mail :</td>
                <td><strong><a href="mailto:"></a></strong></td>
            </tr>
            <tr>
                <td>SIRET :</td>
                <td></td>
            </tr>
            <tr>
                <td>Code APE :</td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <hr />
        <h3>H&Eacute;BERGEMENT</h3>
        <p>&nbsp;</p>
        <p>Ce site web a &eacute;t&eacute; r&eacute;alis&eacute; et est h&eacute;berg&eacute; par :</p>
        <p>&nbsp;</p>
        <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td width="185">Soci&eacute;t&eacute; :</td>
                <td width="315"><strong>OVH</strong></td>
            </tr>
            <tr>
                <td>Adresse postale</td>
                <td>140 QUAI DE SARTEL 59100 ROUBAIX</td>
            </tr>
            <tr>
                <td>SIRET :</td>
                <td>42476141900011</td>
            </tr>
            <tr>
                <td>Code APE :</td>
                <td>721Z</td>
            </tr>
            <tr>
                <td>Localisation du serveur :</td>
                <td ><strong>Roubaix / France</strong></td>
            </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <p class="p1"><span class="s1">Mentions L&eacute;gales&nbsp;:</span></p>
        <p class="p2">&nbsp;</p>
        <p class="p1"><span class="s1">Une information sur leur utilisation et leur finalit&eacute; pr&eacute;cise</span></p>
        <p class="p1"><span class="s1">La possibilit&eacute; de s&rsquo;opposer au profilage avec la d&eacute;marche &agrave; suivre</span></p>
        <p class="p2">&nbsp;</p>
        <p class="p1"><span class="s1"><strong>Donn&eacute;es personnelles : </strong></span></p>
        <p class="p2">&nbsp;</p>
        <ol class="ol1">
            <li class="li3"><span class="s2">Nous sommes respectueux de votre vie priv&eacute;e et de vos choix.</span></li>
            <li class="li3"><span class="s2">Nous veillons &agrave; ce que les questions de protection des donn&eacute;es &agrave; caract&egrave;re personnel et de s&eacute;curit&eacute; soient au c&oelig;ur de tout ce que nous entreprenons.</span></li>
            <li class="li3"><span class="s2">Nous vous adressons des communications commerciales uniquement si vous nous en avez fait la demande. Vous pouvez changer d&rsquo;avis &agrave; tout moment.</span></li>
            <li class="li3"><span class="s2">Nous nous interdisons de communiquer ou de vendre vos donn&eacute;es.</span></li>
            <li class="li3"><span class="s2">Nous sommes soucieux de s&eacute;curiser et de prot&eacute;ger vos donn&eacute;es &agrave; caract&egrave;re personnel. Cela suppose que nous ne collaborons qu&rsquo;avec des partenaires de confiance.</span></li>
            <li class="li3"><span class="s2">Nous sommes attach&eacute;s &agrave; faire preuve d&rsquo;ouverture et de transparence sur la mani&egrave;re dont nous utilisons vos donn&eacute;es.</span></li>
            <li class="li3"><span class="s2">Nous nous interdisons d&rsquo;utiliser vos donn&eacute;es &agrave; caract&egrave;re personnel selon des modalit&eacute;s que nous n&rsquo;aurions pas port&eacute;es &agrave; votre connaissance.</span></li>
            <li class="li3"><span class="s2">Nous sommes respectueux de vos droits et nous nous effor&ccedil;ons constamment de satisfaire &agrave; vos demandes dans la mesure du possible, en respectant nos propres responsabilit&eacute;s juridiques et op&eacute;rationnelles.</span></li>
        </ol>
        <p class="p4">&nbsp;</p>
        <p class="p5"><span class="s1">Afin d&rsquo;exposer plus avant nos pratiques en mati&egrave;re de protection des donn&eacute;es &agrave; caract&egrave;re personnel et de respect de la vie priv&eacute;e, nous pr&eacute;sentons ci-dessous les diff&eacute;rents types de donn&eacute;es &agrave; caract&egrave;re personnel que nous pouvons obtenir directement de votre part ou suite &agrave; votre interaction avec nous, la mani&egrave;re dont nous pouvons les utiliser, les personnes avec qui nous les pouvons les partager, la mani&egrave;re dont nous les prot&eacute;geons et assurons leur s&eacute;curit&eacute;, ainsi que les droits dont vous b&eacute;n&eacute;ficiez concernant vos donn&eacute;es &agrave; caract&egrave;re personnel. Vous pouvez bien s&ucirc;r ne pas &ecirc;tre concern&eacute; par toutes ces situations. La pr&eacute;sente politique de protection des donn&eacute;es &agrave; caract&egrave;re personnel a pour but de vous donner un aper&ccedil;u de l&rsquo;ensemble des situations dans lesquelles nous pourrions &ecirc;tre amen&eacute;s &agrave; interagir ensemble.</span></p
        <p class="p2">&nbsp;</p>
        <ol class="ol1">
            <li class="li1"><span class="s1">QUELLES CATEGORIES DE DONNEES COLLECTONS-NOUS ?</span></li>
        </ol>
        <p class="p6">&nbsp;</p>
        <p class="p1"><span class="s1">Nous collectons les cat&eacute;gories de donn&eacute;es suivantes, pour les finalit&eacute;s d&eacute;crites ci-apr&egrave;s dans Notre Politique :</span></p>
        <p class="p1"><span class="s1">Votre identit&eacute; et vos coordonn&eacute;es (tels que nom, adresse, num&eacute;ro de t&eacute;l&eacute;phone ou adresse e-mail), lorsque vous d&eacute;cidez de les communiquer, par exemple pour cr&eacute;er un compte en ligne ou envoyer une demande via le formulaire de contact </span></p>
        <p class="p1"><span class="s1">Informations de paiement&nbsp;: par exemple les num&eacute;ros de carte bancaire, de compte bancaire, les informations du compte PayPal ou autres informations de paiement que vous devez fournir pour payer les produits ou services que vous avez command&eacute;s chez Nous&nbsp;;</span></p>
        <p class="p1"><span class="s1">Informations d&eacute;mographiques telles que votre sexe et votre date de naissance ;</span></p>
        <p class="p1"><span class="s1">Informations que vous communiquez publiquement, sur Nos r&eacute;seaux sociaux ou Nos sites Web, par exemple pour donner votre avis sur un produit&nbsp;;</span></p>
        <p class="p1"><span class="s1">Informations relatives &agrave; vos achats en ligne ou en boutique (type, quantit&eacute; de produits achet&eacute;s et leurs prix)&nbsp;;</span></p>
        <p class="p1"><span class="s1">Des informations sur votre navigateur et votre comportement de navigation&nbsp;;</span></p>
        <p class="p1"><span class="s1">Nous collectons &eacute;galement, sur les sites internet de tiers ou les r&eacute;seaux sociaux, des informations publi&eacute;es par des personnes &agrave; propos de nos produits ou services, pour les finalit&eacute;s d&eacute;crites ci-apr&egrave;s.</span></p>
        <p class="p1"><span class="s1">Si vous ne souhaitez pas soumettre de donn&eacute;es vous concernant alors que celles-ci sont n&eacute;cessaires &agrave; l&rsquo;ex&eacute;cution d&rsquo;un contrat ou d&rsquo;un service que vous sollicitez, ou lorsqu&rsquo;elles sont requises par la loi, vous ne pourrez pas recevoir le produit ou le service demand&eacute;.</span></p>
        <p class="p2">&nbsp;</p>
        <p class="p1"><span class="s1">2. A QUELLES FINS UTILISONS-NOUS VOS DONNEES ?</span></p>
        <p class="p1"><span class="s1">Vos donn&eacute;es sont utilis&eacute;es pour les finalit&eacute;s d&eacute;crites ci-apr&egrave;s, que nous d&eacute;taillerons lors de la collecte :&nbsp;</span></p>
        <p class="p1"><span class="s1">Mieux comprendre vos int&eacute;r&ecirc;ts et mieux comprendre comment vous utilisez nos produits et services : Nous utilisons vos donn&eacute;es pour am&eacute;liorer notre site Web nos services et nos produits. Nous utilisons &eacute;galement vos donn&eacute;es pour vous personnaliser votre exp&eacute;rience avec et adapter nos activit&eacute;s marketing &agrave; vos besoins et pr&eacute;f&eacute;rences, car il est dans notre int&eacute;r&ecirc;t l&eacute;gitime de mieux vous servir et r&eacute;pondre &agrave; vos attentes ;</span></p>
        <p class="p1"><span class="s1">Traiter vos demandes, r&eacute;pondre &agrave; vos questions, g&eacute;rer vos &eacute;ventuelles r&eacute;clamations : Nous utilisons vos donn&eacute;es, notamment pour livrer vos commandes. Nous utilisons vos donn&eacute;es pour vous transmettre les renseignements que vous demandez, ou communiquer avec vous &agrave; propos de votre compte ou de notre relation (par exemple pour recueillir vos impressions, ou vous informer de modifications du Site ou de cette Politique ou des mises &agrave; jour de service). </span></p>
        <p class="p1"><span class="s1">&Agrave; des fins de s&eacute;curit&eacute; : nous traitons vos donn&eacute;es pour prot&eacute;ger notre soci&eacute;t&eacute;, nos clients, nos sites ou nos applications contre les risques de fraude, de vol ou tout acte r&eacute;pr&eacute;hensible pouvant affecter notre activit&eacute; car il est de notre int&eacute;r&ecirc;t l&eacute;gitime d'assurer la s&eacute;curit&eacute; de nos activit&eacute;s en ligne comme hors ligne ;</span></p>
        <p class="p1"><span class="s1">&Agrave; des fins marketing : pour vous contacter, avec votre consentement le cas &eacute;ch&eacute;ant, au sujet de nouveaux produits et offres sp&eacute;ciales susceptibles de vous int&eacute;resser ;&nbsp;</span></p>
        <p class="p1"><span class="s1">&Agrave; des fins d'analyse et statistiques : Nous r&eacute;alisons des analyses sur l'e-r&eacute;putation de notre soci&eacute;t&eacute; ou de nos produits, et mesurons l'efficacit&eacute; de nos campagnes ou &eacute;v&eacute;nements en ligne comme hors ligne, car il est dans notre int&eacute;r&ecirc;t l&eacute;gitime de pr&eacute;server l&rsquo;image de notre soci&eacute;t&eacute; et am&eacute;liorer nos campagnes marketing ;&nbsp;</span></p>
        <p class="p1"><span class="s1">Autres finalit&eacute;s : nous conservons un historique des transactions et autres documents commerciaux pour r&eacute;pondre &agrave; des exigences juridiques, administratives, aux besoins de nos assureurs, ou &agrave; des fins d'audit.&nbsp;</span></p>

    </div>
{% endblock %}
